body {
  background-color: #333;
  margin: 0;
  font-family: system;
}

#app {
  border: 3px solid #2d2d2d;
  padding: 1rem;
  width: 20rem;
  margin: 1em auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 0.4rem;
}

.hidden {
  visibility: hidden;
}

.hearts {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.heart::before {
  content: '';
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI3LjQyNiIgd2lkdGg9IjMwIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPGRlZnM+IDxsaW5lYXJHcmFkaWVudCBpZD0iYSI+IDxzdG9wIHN0eWxlPSJzdG9wLWNvbG9yOiNiYTAwMDA7c3RvcC1vcGFjaXR5OjEiIG9mZnNldD0iMCIvPiA8c3RvcCBzdHlsZT0ic3RvcC1jb2xvcjpyZWQ7c3RvcC1vcGFjaXR5OjEiIG9mZnNldD0iMSIvPiA8L2xpbmVhckdyYWRpZW50PiA8bGluZWFyR3JhZGllbnQgeGxpbms6aHJlZj0iI2EiIGlkPSJjIiB4MT0iMTUzLjk2OSIgeTE9Ii00NS4wNjYiIHgyPSIxMjEuNjIyIiB5Mj0iMTc3LjMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzcHJlYWRNZXRob2Q9InBhZCIvPiA8cGF0aCBkPSJNMCAyMDBWMGgyMDBhMTAwIDEwMCA5MCAwIDEgMCAyMDAgMTAwIDEwMCA5MCAwIDEtMjAwIDB6IiBpZD0iYiIvPiA8L2RlZnM+IDx1c2UgeGxpbms6aHJlZj0iI2IiIGZpbGw9InJlZCIgdHJhbnNmb3JtPSJyb3RhdGUoLTEzNC45OTkgMTMuMTggMTAuNjA3KSBzY2FsZSguMDg3ODcpIiBzdHlsZT0iZmlsbC1vcGFjaXR5OjE7ZmlsbDp1cmwoI2MpO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDowIi8+IDwvc3ZnPg==");
  width: 1.6rem;
  height: 1.5rem;
  margin: 0.1rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background: #42b7c4;
  color: #ffffff;
  padding: 0.5rem;
  min-width: 8rem;
  font-size: 2rem;
  font-weight: 600;

  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.button:disabled {
  background: #c0c0c0;
  cursor: not-allowed;
}

.button:hover:enabled {
  background-color: #56d0dd;
}

.button-group .button {
  border-radius: 0;
  font-size: 1.5rem;
  min-width: 6.5rem;
}

.button-group .button:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.button-group .button:last-child {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.button-group .button.selected {
  background-color: #2b97a3;
}

.small {
  font-size: 0.5em;
}

[v-cloak] {
  display: none !important;
}
