@keyframes shake {
  10%, 90% { transform: translate(-1px, 0); }
  20%, 80% { transform: translate(2px, 0); }
  30%, 50%, 70% { transform: translate(-2px, 0); }
  40%, 60% { transform: translate(1px, 0); }
}

:root {
  --primary-color: #2b97a3;
  --primary-color-darker: #197b86;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  color: var(--primary-color);
}

#app {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.hidden {
  opacity: 0;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background: var(--primary-color);
  color: #ffffff;
  padding: 0.5rem;
  min-width: 8rem;
  font-size: 1.5rem;
  font-weight: 600;

  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;

  -webkit-tap-highlight-color: transparent;
}

.button:disabled {
  background: var(--primary-color);
  filter: brightness(60%);
  cursor: not-allowed;
}

[v-cloak] {
  display: none !important;
}
